/* Applied gradient to background of web page */
html {
    height: 100%;
    background: linear-gradient(to bottom, #FF0000, #FFCCCB);
    color: darkred;
}

h1 {
    font-size: 75px;
    font-family: "SansSerif", sans-serif;
    position: fixed;
    top: 50px;
    left: 300px;
    white-space: nowrap; /* Prevent line breaks */
    background-color: white;
    border-radius: 0;
    padding: 10px 20px;
    z-index: 1;
}

.arrow-button {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0;
    position: fixed;
    top: 10px;
    left: 10px;
}

.arrow-button::before {
    content: "\2190";
    font-size: 50px;
}

.arrow-button:hover::before {
    color: red;
}

.red-rectangle {
    background-color: darkred;
    width: 820px;
    height: 95px;
    position: fixed;
    top: 85px;
    left: 280px;
}

body {
    margin: 0;
    padding: 0;
}

.casino-chips-1 {
    /* background-image: url("../images/casino-chips_1.png"); originally had wrong filepath so I fixed it, but it looks wierd and idk if it's intentional.*/
    background-image: url("../images/casino-chips_1.png");
    flex-direction: column;
    justify-content: flex-end;
    width: 400px;
    height: 500px;
    position: fixed;
    right: 1120px;
    z-index: 1;
}

.casino-chips-2 {
    /* background-image: url("../images/casino-chips-2.png"); originally had wrong filepath so I fixed it, but it looks wierd and idk if it's intentional.*/
    background-image: url("../images/casino-chips-2.png");
    flex-direction: column;
    justify-content: flex-end;
    width: 400px;
    height: 500px;
    position: fixed;
    left: 1050px;
}

p {
    font-size: 22px;
    font-family: "SansSerif", sans-serif;
    color: darkred;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 20px;
    position: fixed;
    top: 190px;
    left: 260px;
    overflow: auto; /* Add scrollbars when content exceeds the container */
    max-height: 68vh; /* Set a maximum height for the container */
}