body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #C00101, #B85858);
}

.container {
    text-align: center;
    color: white;
}
h1 {
    font-size: 3em; /* Adjust the font size as needed */
}
h2 {
    font-size: 3em; /* Adjust the font size as needed */
}
h3 {
    font-size: 3em; /* Adjust the font size as needed */
}



.button-container {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #eac2c2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #eac2c2;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.purchase-option {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    display: inline-block;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}