*, *::after, *::before{
    box-sizing: border-box;
}

main{
    height: 55%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.top-bar{
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    width: 400px;
    border: 2px solid black;
    background-image: linear-gradient(#b23030, #e0c9b8, #b23030);
    display: inline-block;
}

.topnav{
    top: 2px;
    display: table-cell;
}

.topnav-text{
    top: 2px;
    margin-right: 50px;
}

.money-box{
    position: fixed;
    margin-right: 70px;
    top: 2px;
    height: 24px;
    width: 50px;
    border: 1px solid black;
    background-color: #fcf4ea;
    text-align: right;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body{
    margin: 0;
    gap: .5rem;
    justify-content: center;
    padding-top: 1rem;
    height: 100vh;
    background-image: linear-gradient(#181e33, #546a80, #546a80, #181e33);
    display: flex;
    align-items: center;
    background-size: cover;
}

.player-hand{
    position: fixed;
    bottom: 0%;
    vertical-align: center;
    height: 120px;
    width: 370px;
    justify-content: center;
    align-self: center;
    align-content: center;
    display: flex;
}

.comp-hand{
    position: fixed;
    top: 20%;
    vertical-align: center;
    height: 120px;
    width: 380px;
    justify-content: center;
    text-align: center;
    display: flex;
    user-select: none;
}

.card-shown{
    height: 100%;
    width: 20%;
    border: 1px solid red;
    justify-content: center;
    align-content: center;
    position: relative;
}

.card-Hidden{

}

.card{
    border: 3px solid blueviolet;
}

.card:hover {
    transform: scale(1.2);
    box-shadow:
            inset 0 0 30px #fff,      /* inner white */
            inset 20px 0 50px #e0c9b8,   /* inner left magenta short */
            inset -20px 0 50px #b23030,  /* inner right cyan short */
            inset 20px 0 80px #e0c9b8,  /* inner left magenta broad */
            inset -20px 0 80px #b23030, /* inner right cyan broad */
            0 0 20px #fff,            /* outer white */
            -10px 0 50px #e0c9b8,        /* outer left magenta */
            10px 0 50px #b23030;         /* outer right cyan */
}

.enlarge{
    transform: scale(110%);
}


.betting-button{
    position: fixed;
    bottom: 150px;
    text-align: right;
    right: 50px;
    height: 30px;
    width: 60px;
}

.button{
    background-color: brown;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    border: none;
    color: antiquewhite;
    cursor: pointer;
    padding: 10px;
}

.button:hover .button:focus{
    background-color: #b23030;
}

.table-picture{
    position: relative;
    align-self: center;
    top: 50px;
    width: 100%;

}

#result-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 30px;
}

.opponent-1 {
    position: fixed;
    top: 62%;
    vertical-align: center;
    rotate: -90deg;
}

.dot{
    height: 40px;
    width: 40px;
    background-color: #bf87f6;
    border-radius: 50%;
    display: inline-block;
}

.drop-button {
    background-color: #a52a2a;
    color: #e0c9b8;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
}

.drop-button:hover, .drop-button:focus {
    background-color: #8f2323;
}

.dropdown {
    position: fixed;
    display: inline-block;
    top: 58px;
    right: 202px;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #fcf4ea;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.deal-cards{
    background-color: #a52a2a;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    color: #fcf4ea;
    cursor: pointer;
    position: fixed;
    top: 50px;
    left: 10px
}

.background-music{
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.replaceButton{
    position: fixed;
    top: 90px;
    left: 10px;
    background-color: brown;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    border: none;
    color: antiquewhite;
    cursor: pointer;
}


.keepHand{
    position: fixed;
    top: 130px;
    left: 10px;
    background-color: brown;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    border: none;
    color: antiquewhite;
    cursor: pointer;
}

.selected {
    border: 2px solid blue;
    transform: scale(1.2);
}

.betButton {
    display: block;
    position: fixed;
    vertical-align: middle;
    bottom: 200px;
    text-align:  right;
    right: 10px;
    height: 60px;
    width: 250px;
}

.actionTwo{
    display: none;
    position: fixed;
    bottom: 220px;
    right: 10px;

}

.container {
    background-color: brown;
    height: 40px;
}
/*position: fixed;*/
/*bottom: 150px;*/
/*text-align: right;*/
/*right: 50px;*/
/*height: 30px;*/
/*width: 60px;*/
